/* 
    Document   : Login
    Created on : Jul 5, 2016, 10:38:46 PM
    Author     : WalknetFunctions
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Login Menu style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: table;
}
.header_login{
    padding: 10px;
    height: 45px;
    background: darkslateblue;
    color: white;
    border-bottom: 3px solid yellow;
}
.body_container{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
}
.login_box{
    border: 1px solid;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: darkslateblue;
    box-shadow: 0 5px 8px rgba(0,0,0,0.48);
}
.foot{
    border-radius: 0 0 5px 5px;
    border: none;
    border-top: 1px solid;
}
.soft-name{
    padding: 10px;
    background: darkslateblue;
    color: white;
}
.panel-heading{
    background: grey;
}
.btn-default{
    background: darkslateblue;
    color: white;
}
.btn-default:hover{
    background: darkseagreen;
    color: white;
}