.tab-prescription{
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    margin: 0px;
}
.prescription-add-content{
    margin: 5px;
    margin-bottom: 20px;
}
.prescription-add-content .field{
    margin-bottom: 5px;
}
.prescription-add-header{
    margin: 10px;
    border-bottom: 1px solid lightgrey;
}
.row-radio{
    margin-top: 10px;
}
.table-pres-list{
}
.table-med table {
    width: 100%;
    display:block;
}
.table-med thead {
    display: inline-block;
    width: 100%;
}
.table-med tbody{
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.radio-field{
    margin-top: 10px;
    margin-bottom: 10px;
}
.textArea{
    margin: 0;
    padding: 0;
}
.textArea-content{
    margin-bottom: 10px;
    margin-top: 10px;
}
.btnPres{
    margin-bottom: 5px;
    margin-top: 5px;
}
.detail{
    margin: 8px;
    margin-left: 0px;
}
.btn-list{padding: 5px;
}
.prescribed_head{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.slno{
    margin-top: 5px;
}
.col-mod{
    padding: 3px;
}
.row-item{
    
    margin: 0;
    padding: 0;
}
.med-list{
    padding-left: 15px;
    padding-right: 15px;
}
#addedDrugs{
    margin: 0;
    padding: 0;
}
.pres-id{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: darkred;
    background-color: #fff;
    background-image: none;
}