.content{
    border: 1px solid lightgrey;
    border-top: none;
    padding-bottom: 10px;
}
.inner-content{
    margin: 0px;
    padding: 5px;
}
.fields{
    margin: 0px;
    padding-top: 10px;
}
.fields-radio{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.emp-record{
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: darkslateblue;
    border: 1px solid lightgrey;
    border-radius:5px;
    box-shadow: 3px 3px 3px 3px;
   
}
